<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Health Insurance Company <div class="btn">Hello hello</div></title>
	<link rel="stylesheet" href="app.component.css">
</head>

<body>
  <nav>
	<div id="navbar" style="padding-top:20px">
		<a href="#" id="logo">My logo</a>
		<a href="#">Renew </a>
		<a href="#">Your history</a>
    <a href="#">Update CKYC</a>
    <a href="#mediclaim">Mediclaim</a>
    <a href="#life">Life Insurance</a>
    <a href="#dental">Dental Insurance</a>
    <a href="#Property">Property Insurance</a>

	</div>
  </nav>
<div id="myHeading">
  <H1>Star Health Insurance</H1>
  <h3><i>🫂Your Shield in time of need🫂</i></h3>
  </div>
<app-dropdown></app-dropdown>
<p id="quote1">Star Health Insurance Company: Your Trusted Partner in Protection</p>

<div id="abtus">
  <h2>About Us</h2>
      
  <p>Star Health Insurance Company stands as a beacon of reliability and trust in the landscape of insurance services in the USA. With a rich legacy of serving customers with unwavering commitment and dedication, we have emerged as a leading provider of comprehensive insurance solutions tailored to meet the diverse needs of individuals and families across the nation.
    
    At Star Health Insurance Company, we understand that life is unpredictable, and unforeseen circumstances can arise when least expected. That's why we are here to offer a wide range of insurance products and services aimed at safeguarding your financial well-being and providing you with peace of mind.
    </p>
    </div><br>
<div id="fullBox">
    <div class="card">
      <input id="ch1" type="checkbox">
      <h2>Comprehensive Coverage, Exceptional Service</h2>
      <p>Our commitment to excellence is reflected in the quality of our insurance products, which encompass a spectrum of coverage options including Mediclaim, Life Insurance, ...</p>
      <div class="content"><p>
        Dental Insurance, and Property Insurance. Whether you're seeking protection for your health, financial security for your loved ones, or safeguarding your home and belongings, we have tailored solutions to meet your specific needs.
      </p>
      <label for="ch1">Show less</label>
    </div>
      <label for="ch1">Read More</label>
    </div>


    <div class="card">
      <input id="ch2" type="checkbox">
      <h2>Customer-Centric Approach</h2>
      <p>At the heart of our operations lies a customer-centric approach, where your needs and concerns take center stage. Our team of experienced professionals is dedicated to ...</p>
      <div class="content"><p>
        providing personalized service, guiding you through the process of selecting the right insurance plan, and offering support and assistance every step of the way.
      </p>
      <label for="ch2">Show less</label>
    </div>
    <label for="ch2">Read More</label>
    </div>


    
    <div class="card">
      <input id="ch3" type="checkbox">
      <h2>Reliability and Trust</h2>
      <p>With Star Health Insurance Company, you can rest assured that you're partnering with a company that prioritizes reliability, integrity, and trust.... </p>
      <div class="content"><p>
        We adhere to the highest standards of ethics and transparency, ensuring that you receive fair and honest treatment at all times.
      </p>
      <label for="ch3">Show less</label>
    </div>
    <label for="ch3">Read More</label>
    </div>


    <div class="card">
      <input id="ch4" type="checkbox">
      <h2>Experience the Star Health Difference</h2>
      <p>Join the millions of satisfied customers who have entrusted their insurance needs to Star Health Insurance Company. Experience the Star Health difference today and ...</p>
      <div class="content"><p>
        embark on a journey of financial security, peace of mind, and protection for life's uncertainties.
      </p>
      <label for="ch4">Show less</label>
    </div>
    <label for="ch4">Read More</label>
    </div>
</div>
<br>

  
<br>
<br>
<br>


<p id="mediclaim">Mediclaim</p>
<p>Mediclaim insurance, also known as health insurance, provides coverage for medical expenses incurred due to illness, injury, or hospitalization. Here are some benefits:</p>
  <details>
    <summary>
      Coverage for Medical Expenses
    </summary>
  <p>Mediclaim insurance covers hospitalization expenses, including room charges, doctor's fees, medical tests, surgeries, and medication costs.</p>
  </details>

  <details>
    <summary>
      Cashless Hospitalization
    </summary>
  <p>Customers can avail of cashless treatment at network hospitals, where the insurer settles the medical bills directly with the hospital.</p>
  </details>

  <details>
    <summary>
      Pre and Post-Hospitalization Expenses
    </summary>
  <p>Besides hospitalization costs, mediclaim policies often cover pre and post-hospitalization expenses such as diagnostic tests, doctor consultations, and medication.</p>
  </details>

  <details>
    <summary>
      Ambulance Charges
    </summary>
  <p>Many mediclaim policies cover ambulance charges for transporting the insured to the hospital during emergencies.</p>
  </details>

  <details>
    <summary>
      Coverage for Critical Illnesses
    </summary>
  <p> Some mediclaim plans offer coverage for specific critical illnesses like cancer, heart ailments, etc., providing financial security during such critical times.</p>
  </details>

  <details>
    <summary>
      No Claim Bonus
    </summary>
  <p> Insurers often reward policyholders with a no-claim bonus for every claim-free year, which leads to a reduction in premium or increased sum insured.</p>
  </details>

  <details>
    <summary>
      Tax Benefits
    </summary>
  <p> Premiums paid towards mediclaim insurance are eligible for tax deductions under Section 80D of the Income Tax Act, providing additional savings.</p>
  </details>
<br>

<p id="life">Life Insurance</p>
<p>Life insurance provides financial protection to the insured's family in case of the insured's demise. Here are the benefits:</p>
  <details>
    <summary>
      Financial Security for Dependents
    </summary>
  <p> Life insurance ensures that the insured's dependents receive a lump sum amount (death benefit) in the event of the insured's death, providing financial stability and security to the family.</p>
  </details>

  <details>
    <summary>
      Debt Repayment
    </summary>
  <p> Life insurance proceeds can be used to repay outstanding debts like home loans, personal loans, etc., preventing the family from facing financial liabilities.</p>
  </details>

  
  <details>
    <summary>
      Income Replacement
    </summary>
  <p> Life insurance replaces the insured's lost income, ensuring that the family's financial needs like daily expenses, children's education, etc., are met even in the insured's absence.</p>
  </details>

  <details>
    <summary>
      Legacy Planning
    </summary>
  <p> Life insurance allows the insured to leave behind a financial legacy for their loved ones, ensuring a comfortable future for them.
  </p>
  </details>
  
  <details>
    <summary>
      Tax Benefits
    </summary>
  <p> Premiums paid towards life insurance policies qualify for tax deductions under Section 80C of the Income Tax Act, and the death benefit received by the nominee is tax-free under Section 10(10D), making it a tax-efficient investment.
  </p>
  </details>
<br>
  <p id="dental">Dental Insurance</p>
<p>Dental insurance covers dental care expenses, encouraging regular dental check-ups and treatments. Here are the benefits:</p>
  <details>
    <summary>
      Coverage for Routine Dental Care
    </summary>
  <p> Dental insurance typically covers routine dental services such as dental cleanings, check-ups, X-rays, and fluoride treatments, promoting preventive dental care.
  </p>
  </details>

  <details>
    <summary>
      Coverage for Major Dental Procedures
    </summary>
  <p>  It also covers major dental procedures like root canals, dental fillings, tooth extractions, crowns, bridges, and dentures, reducing out-of-pocket expenses for the insured.
  </p>
  </details>
  
  <details>
    <summary>
      Orthodontic Coverage
    </summary>
  <p> Some dental insurance plans offer coverage for orthodontic treatments like braces and retainers for both children and adults, ensuring proper dental alignment and oral health.
  </p>
  </details>

  <details>
    <summary>
      Preventive Care Incentives
    </summary>
  <p> Dental insurance often encourages preventive care by covering preventive treatments like sealants and fluoride applications with no or minimal copayments.
  </p>
  </details>


  
  <details>
    <summary>
      Network of Dentists
    </summary>
  <p> Many dental insurance plans have a network of dentists, offering discounted rates for services provided by in-network dentists, making dental care more affordable.
  </p>
  </details>
<br>
  <p id="Property">Property Insurance</p>
<p>Property insurance provides financial protection against damage or loss to physical property and belongings. Here are the benefits:
</p>
  <details>
    <summary>
      Coverage for Property Damage
    </summary>
  <p> Property insurance covers damage to the insured property caused by perils like fire, theft, vandalism, natural disasters (floods, earthquakes, hurricanes), and other unforeseen events.
  </p>
  </details>

  <details>
    <summary>
      Replacement Cost Coverage
    </summary>
  <p>  It ensures that the insured receives reimbursement for the full replacement cost of damaged or lost property, enabling them to rebuild or repair their property without financial strain.
  </p>
  </details>

  <details>
    <summary>
      Liability Protection
    </summary>
  <p>  Property insurance includes liability coverage, protecting the insured against legal claims and lawsuits for bodily injury or property damage caused to others on the insured premises.
  </p>
  </details>

  <details>
    <summary>
      Coverage for Personal Belongings
    </summary>
  <p>  It covers the loss or damage to personal belongings such as furniture, appliances, electronics, clothing, jewelry, and valuable items kept within the insured property.
  </p>
  </details>

  <details>
    <summary>
      Additional Living Expenses Coverage
    </summary>
  <p>  Property insurance often includes coverage for additional living expenses incurred if the insured property becomes uninhabitable due to covered perils, covering temporary accommodation and living expenses.
  </p>
  </details>



  <!-- <app-selection></app-selection> -->
  <!-- <app-graph></app-graph> -->
</body>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



