<!-- graph.component.html
<app-dropdown></app-dropdown>
<div>
    <canvas id="myChart"></canvas>
  </div> -->

  <!-- <div class="row">
    <div class="col-lg-6">
      <h2>Bar Graph</h2>
      <canvas id="piechart"></canvas>
    </div>
  </div>
   -->
   <div class="graph-container">Bar graph
    <canvas id="piechart" width="400" height="400">Bar Graph</canvas>
  </div>
  <div class="graph-container">Bar Graph2 
    <canvas id="comparisonChart" width="400" height="400">Bar graph2</canvas>
  </div>